.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF69B4;
  }

  .navbar-toggler {
    border-color: #FF69B4;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #000000;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #FF69B4; 
  }